#login {
  width: 75%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}

#login .login__column {
  width: 47%;
}

.login__column .login__box {
  background: white;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.login__column .login__box:nth-child(2) {
  margin-bottom: 30px;
}

.login__column .login__t-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login__appstores {
  margin-top: 20px;
}

.login__appstores .login__appstore {
  height: 37px;
}
